# KuCoin API Credentials
api_key: "dddddddddddddddddddddddd"
api_secret: "ffffffffffffffffffffffffffffff"
api_passphrase: "AAAAAAAAAAAAAA"

# Report Settings
receiver_email: "your_email@example.com"
sender_email: "bot_email@example.com"
password: "bot_email_password"
server: "smtp.server.com"
port: 587

####### Strategy settings ########
# Trading Asset
base_currency: "BTC"
quote_currency: "USDT"
asset: "BTC-USDT"
account_type: "margin"
sandbox: "False"

# Bollinger Band Settings
candle_length: "1min"
sma_period: 20
standard_deviations: 2

# Order Settings
order_levels: [ 1, 2, 3, 5, 8, 13 ]
order_volumes: [ 10, 15, 25, 40, 55, 76 ]

# Risk Management Settings
stop_loss: 0.01
total_loss: 0.007

log_level: "DEBUG"